{% extends 'updd/base.html' %}
{% load i18n %}
{% load filters %}

{% block title %}
<h4> {% trans 'Nouveau diagnostic' %} </h4>
{% endblock %}

{% if forms.docform.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul>
        {% for error in form.non_field_errors %}
            <li> {{ error|escape }}</li>
        {% endfor %}
    </ul>
    </div>
{% endif %}
{% if forms.diagform.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul>
        {% for error in form.non_field_errors %}
            <li> {{ error|escape }}</li>
        {% endfor %}
    </ul>
    </div>
{% endif %}
{% if forms.docform.errors %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.errors}}
    </div>
{% endif %}
{% if forms.diagform.errors %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{form.errors}}
    </div>
{% endif %}

{% block content %}
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'new_diagnostic'%}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_texte">{{ forms.diagform.observation.label_tag }}</label>
            {{ forms.diagform.observation|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="{{forms.diagform.fichier.id}}">
                <label class="custom-file-label" for="{{forms.diagform.fichier.id}}">{{forms.diagform.fichier.label_tag}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="id_dossier">{{forms.docform.dossier.label_tag}}</label>
            {{forms.docform.dossier|add_class:"custom-select"}}
        </div>
        <div class="form-group">
            {{forms.docform.complet.label_tag}}
            {{ forms.docform.complet}}
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">{% trans "Enregistrer l'ordonnance" %}</button>
        </div>
        </form>
    </div>
{% endblock %}

{% block script_block %}
<script>
    $("#id_dossier").css("margin-bottom", "15px")
</script>
{% endblock %}



